// main: ../style.less

.center {
    position: relative;
    width: 100%;
    padding-top: 80px;

    &__label {
        color: rgba(255, 255, 255, 0.40);
        text-align: center;
        font-family: Ubuntu;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 200%;
        letter-spacing: 0.32px;
    }

    &__inner {
        width: 100%;
        height: 100%;

        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        position: relative;

        &.hide {
            display: none;
        }
    }

    &__top {
        background: #1C1F25;
        width: 100%;
        padding: 0 22px;
        padding-top: 75px;
        position: relative;
        height: 100%;

        &.small {
            background: none;
        }
    }

    &__title {
        color: #FFF;
        font-family: Ubuntu;
        font-size: 34px;
        font-style: normal;
        font-weight: 500;
        line-height: 130%;
        margin-bottom: 28px;
    }

    &__button {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 56px;
        padding: 10px 0px;
        justify-content: center;
        align-items: center;
        gap: 10px;
        background: #DAC65D;
        flex-shrink: 0;
        color: #1E372D;
        text-align: center;
        font-family: Ubuntu;
        font-size: 18px;
        font-style: normal;
        font-weight: 500;
        line-height: 200%;
        cursor: pointer;
        margin-bottom: 30px;
        transition: all .2s linear;

        img {
            display: block;
        }

        &:hover {
            background: #dac55dc3;
        }
    }

    &__description {
        &__title {
            color: #FFF;
            font-family: Ubuntu;
            font-size: 24px;
            font-style: normal;
            font-weight: 400;
            line-height: 106%;
            margin-bottom: 35px;

            span {
                background: linear-gradient(90deg, #9349FB 8.3%, #03CD8F 84.28%);
                background-clip: text;
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                font-family: Ubuntu;
                font-size: 24px;
                font-style: normal;
                font-weight: 400;
                line-height: 106%;
            }
        }

        &__text {
            color: #A9ABAD;
            font-family: Ubuntu;
            font-size: 18px;
            font-style: normal;
            font-weight: 400;
            line-height: 170%;
            margin-bottom: 35px;
        }


    }

    &__statusbar {
        width: 100%;
        min-height: 40px;
        background: #25C362;
        display: flex;
        align-items: center;
        justify-content: space-between;

        &.yellow {
            background: #DAC65D;
        }

        &__right {
            height: 100%;
            background: rgba(0, 0, 0, 0.10);
            max-width: 330px;
            width: 100%;
            cursor: not-allowed;
            padding-left: 20px;
            display: flex;
            align-items: center;
            justify-content: flex-start;

            img {
                margin-right: 7px;
            }

            span {
                color: rgba(30, 55, 45, 0.50);
                text-align: center;
                font-family: Ubuntu;
                font-size: 16px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
                letter-spacing: -0.64px;
            }
        }

        &__left {
            display: flex;
            align-items: center;
            padding-left: 10px;

            span {
                color: #1E372D;
                text-align: center;
                font-family: Ubuntu;
                font-size: 16px;
                font-style: normal;
                font-weight: 500;
                line-height: normal;
                letter-spacing: -0.64px;
            }

            img {
                margin-right: 7px;
                animation: rotation 2.5s linear infinite;


                @keyframes rotation {
                    0% {
                        transform: rotate(0deg);
                    }

                    100% {
                        transform: rotate(360deg);
                    }
                }
            }
        }
    }

    &__console {
        // border-left: 22px solid #1C1F25;
        // border-right: 22px solid #1C1F25;
        border-bottom: 10px solid #1C1F25;

        width: 100%;
        height: 100%;
        max-height: 255px;
        padding: 20px;
        color: rgba(255, 255, 255, 0.85);
        font-family: "Cascadia Code PL Regular";
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 140%;
        /* 19.6px */
        letter-spacing: -0.28px;
        overflow-y: auto;
        white-space: pre-wrap;


        background: rgba(28, 31, 37, 0.50);
        backdrop-filter: blur(50px);
        overflow: scroll;
        -ms-overflow-style: none;


        &::-webkit-scrollbar {
            width: 0;
        }

        &.running {}
    }

    &__console2 {
        // border-left: 22px solid #1C1F25;
        // border-right: 22px solid #1C1F25;
        border-bottom: 10px solid #1C1F25;

        width: 100%;
        height: 100%;
        max-height: 255px;
        padding: 20px;
        color: rgba(255, 255, 255, 0.85);
        font-family: "Cascadia Code PL Regular";
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 140%;
        /* 19.6px */
        letter-spacing: -0.28px;
        overflow-y: auto;
        white-space: pre-wrap;


        background: rgba(28, 31, 37, 0.50);
        backdrop-filter: blur(50px);
        overflow: scroll;
        -ms-overflow-style: none;


        &::-webkit-scrollbar {
            width: 0;
        }

        &.running {}
    }

    &__alert {
        position: absolute;
        top: 15px;
        left: 50%;
        transform: translateX(-50%);
        width: calc(100% - 44px);
        height: 60px;
        background: #611D31;
        display: flex;
        align-items: center;
        justify-content: center;
        color: white;
        text-align: center;
        font-family: Ubuntu;
        font-size: 18px;
        font-style: normal;
        font-weight: 500;
        line-height: 200%;
        text-transform: uppercase;

        &.green {
            background: #248449;
        }

        &.hide {
            display: none;
        }
    }

    &__deposit {
        // margin-top: 60px;

        &__enter {
            display: flex;
            flex-direction: column;
            align-items: flex-start;

            label {
                color: rgba(255, 255, 255, 0.40);
                text-align: center;
                font-family: Ubuntu;
                font-size: 16px;
                font-style: normal;
                font-weight: 400;
                line-height: 200%;
                letter-spacing: 0.32px;
            }

            input {
                outline: 0;
                width: 100%;
                margin-bottom: 20px;
                height: 60px;
                padding: 10px 20px;
                background: #131722;
                border: 0;
                color: rgba(255, 255, 255, 0.85);
                font-family: Ubuntu;
                font-size: 20px;
                font-style: normal;
                font-weight: 400;
                line-height: 200%;
                transition: all .2s linear;

                &::placeholder {
                    color: rgba(255, 255, 255, 0.40);

                }

                &:focus {
                    outline: none;
                }
            }
        }

        &__button {
            display: flex;
            align-items: center;
            justify-content: center;
            background: #1491FF;
            width: 100%;
            height: 56px;
            margin-bottom: 36px;
            color: #FFF;
            text-align: center;
            font-family: Ubuntu;
            font-size: 18px;
            font-style: normal;
            font-weight: 500;
            line-height: 200%;
            cursor: pointer;
            transition: all .2s linear;

            &:hover {
                background: #0974d2;

            }

            &.down {
                margin-bottom: 10px;
            }
        }

        &__or {
            height: 21px;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-bottom: 36px;


            &--text {
                color: rgba(255, 255, 255, 0.60);
                text-align: center;
                font-family: Roboto;
                font-size: 14px;
                font-style: normal;
                font-weight: 400;
                line-height: 200%;
                letter-spacing: -0.28px;
            }

            &--divider {
                height: 1px;
                width: 47%;
                background: rgba(255, 255, 255, 0.60);
            }
        }

        &__address {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            background: #282C33;
            height: 45px;
            margin-bottom: 10px;
            cursor: pointer;

            span {
                color: rgba(255, 255, 255, 0.60);
                text-align: center;
                font-family: Ubuntu;
                font-size: 14px;
                font-style: normal;
                font-weight: 400;
                line-height: 200%;
                letter-spacing: -0.28px;
                margin-right: 10px;
            }
        }

        &__another {
            display: flex;
            justify-content: space-between;
            margin-bottom: 20px;

            &__button {
                height: 44px;
                background-color: #1C1F25;
                width: 50%;
                box-shadow: 0px 0px 10px 0px #1491FF;
                border: 1px solid #1491FF;
                transition: all 0.3s linear;
                cursor: pointer;
                color: #FFF;
                text-align: center;
                font-family: Ubuntu;
                font-size: 14px;
                font-style: normal;
                font-weight: 400;
                line-height: 200%;
                display: flex;
                align-items: center;
                justify-content: center;

                img {
                    margin-left: 5px;
                }

                &:hover {
                    border-radius: 10px;

                }

                &:first-child {
                    margin-right: 23px;
                }
            }
        }
    }

    &__menu {
        height: 80px;
        width: 100%;
        background: rgba(28, 31, 37, 0.50);
        backdrop-filter: blur(50px);
        display: flex;
        padding: 0 21px;
        align-items: center;
        justify-content: space-around;
        position: fixed;
        bottom: 0;
        display: none;
        cursor: pointer;
        z-index: 100;

        &__item {
            transition: all .3s linear;

            svg {
                transition: all .3s linear;

                color: white;
            }
        }

        &__item.active {
            svg {
                color: #1491FF;
            }
        }

        &__swipe {
            display: none;
            width: 40px;
            height: 40px;
            position: absolute;
            bottom: 20px;
            z-index: 4;
            left: 50%;
            transform: translateX(-50%);
            animation: moveLeftRight 5s infinite;

        }

        @keyframes moveLeftRight {
            0% {
                transform: translateX(-50%);

            }

            25% {
                transform: translateX(calc(-50% - 50px));
                /* Движение влево на 50 пикселей */
            }

            50% {
                transform: translateX(-50%);
            }

            75% {
                transform: translateX(calc(-50% + 50px));
                /* Движение вправо на 50 пикселей */
            }

            100% {
                transform: translateX(-50%);
            }
        }
    }
}

.glow {
    width: 200px;
    height: 200px;
    flex-shrink: 0;
    border-radius: 500px;
    background: rgba(40, 98, 255, 0.01);
    box-shadow: 0px 0px 400px 400px rgba(41, 83, 168, 0.25);
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0);
    z-index: -1;

    &.green {
        background: rgba(40, 98, 255, 0.01);
        box-shadow: 0px 0px 1000px 200px #12F766;
    }

    &.yellow {
        background: rgba(40, 98, 255, 0.01);
        box-shadow: 0px 0px 1000px 200px #DAC65D;
    }
}

.center__success {
    width: 400px;
    height: 235px;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0);
    background: #1C1F25;
    z-index: 6;

    &.hide {
        display: none;
    }

    &__top {
        width: 100%;
        height: 60px;
        background: #12F766;
        box-shadow: 0px 0px 25px 0px #38AE00;
        display: flex;
        padding: 0 15px;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 35px;

        &.yellow {
            background: #DAC65D;
            box-shadow: 0px 0px 25px 0px #DAC65D;

        }



        &__left {
            color: #1C1F25;
            font-family: Ubuntu;
            font-size: 16px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
            text-transform: uppercase;
        }

        &__right {
            color: rgba(29, 32, 38, 0.50);
            font-family: Ubuntu;
            font-size: 16px;
            font-style: normal;
            font-weight: 500;
            line-height: normal;

            span {
                color: #1C1F25;
                font-family: Ubuntu;
                font-size: 16px;
                font-style: normal;
                font-weight: 600;
                line-height: normal;
            }
        }
    }

    &__stats {
        padding: 0 15px;
        display: flex;
        gap: 26px;
        justify-content: space-between;
        margin-bottom: 20px;

        &__line {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 44px;
            flex-wrap: wrap;

            &--left {
                color: rgba(255, 255, 255, 0.50);
                font-family: Ubuntu;
                font-size: 22px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
                margin-right: 15px;
            }

            &--right {
                color: #FFF;
                font-family: Ubuntu;
                font-size: 28px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
                display: flex;
                align-items: center;

                &__gray {
                    color: #A4A8B1;
                    font-family: Ubuntu;
                    font-size: 22px;
                    font-style: normal;
                    font-weight: 300;
                    line-height: normal;
                }
            }
        }

        &__item {
            display: flex;
            flex-direction: column;

            &--top {
                color: rgba(255, 255, 255, 0.50);
                font-family: Ubuntu;
                font-size: 14px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
            }

            &--bottom {
                color: #FFF;
                font-family: Ubuntu;
                font-size: 24px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;

                span {
                    color: #A4A8B1;
                    font-family: Ubuntu;
                    font-size: 20px;
                    font-style: normal;
                    font-weight: 300;
                    line-height: normal;
                }
            }
        }
    }

    &__button {
        padding: 0 12px;

        &__inner {
            color: #FFF;
            font-family: Ubuntu;
            font-size: 18px;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
            background: linear-gradient(89deg, #904CF9 0.16%, #0EC497 99.61%);
            width: 100%;
            height: 50px;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;

            &.start {
                background: linear-gradient(89deg, #2eb96d .16%, #03810f 99.61%)
            }

            &.stop {
                background: linear-gradient(89deg, #2eb96d .16%, #03810f 99.61%)
            }
        }
    }
}

@media (max-width: 1600px) {
    .center__description__text {
        font-size: 14px;
        line-height: 1.5;
        margin-bottom: 18px;
    }

    .center__title {
        font-size: 25px;
        margin-bottom: 15px;
    }

    .center__button {
        height: 45px;
    }

    .center__description__title {
        margin-bottom: 20px;
        font-size: 18px;

        span {
            font-size: 18px;

        }
    }

    .center__deposit__button {
        margin-bottom: 10px;
    }

    .center__deposit__or {
        margin-bottom: 10px;

    }
}

@media(max-width: 1000px) {
    .center {
        padding-bottom: 80px;

    }

    .center__menu__swipe {
        display: block;
    }

    .left {
        display: none;
    }

    .right {
        display: none;
    }

    .header__wallet {
        width: fit-content;
    }

    .header__inner {
        padding: 0 15px;
    }

    .header__logo {
        span {}
    }

    .center__statusbar,
    .center__console {
        display: none;
    }

    .center__menu {
        display: flex;
    }

    .left,
    .right {
        max-width: none;
    }

    .modal__left {
        width: 100%;
        padding-right: 0;
    }

    .modal {
        padding: 0 15px;
    }

    .center__deposit__another {
        flex-wrap: wrap;

        &__button {
            margin-bottom: 10px;
            width: 100%;

            &:first-child {
                margin-right: 0;
            }
        }
    }

    .left__table__body {
        overflow: scroll;
        max-height: 500px;
        /* Это максимальная высота, которая может динамически меняться */
        overflow-y: auto;
        /* Включает вертикальный скролл, если контент превышает max-height */
    }

    .right__table__body {
        overflow: scroll;
        max-height: 500px;
        /* Это максимальная высота, которая может динамически меняться */
        overflow-y: auto;
        /* Включает вертикальный скролл, если контент превышает max-height */
    }

    .modal__deposit__crypto__select__item {
        width: 100%;
    }

    // #smartsupp-widget-container>div {
    //     bottom: 100px !important;
    // }

    #center3bottom {
        display: none;
    }

    .glow {
        top: 50%;
    }

    .center__success {
        top: 50%;
    }
}

@media(max-width: 600px) {
    .center__alert {
        font-size: 16px;
    }

    .modal__deposit__crypto__button {
        font-size: 16px;
    }

    .modal__deposit__crypto__send__warnin {
        font-size: 16px;
    }

    .modal__deposit__crypto__send__address {
        span {
            font-size: 9px;
        }
    }

    .modal_deposit_crypto_send_amount {
        font-size: 25px;
    }

    .modal__deposit__crypto__send__sum--text {
        font-size: 25px;

        b {
            font-size: 25px;

        }
    }

    .center__deposit__button.down {
        font-size: 12px;
        height: 44px;
    }

    .center__deposit__another__button {
        font-size: 12px;
    }


    .center__deposit__address {
        span {
            font-size: 10px;
        }

        img {
            width: 15px;
            height: 15px;
        }
    }

    .modal__deposit__crypto__choose__item {
        min-height: 40px;
        font-size: 18px;
    }

    .modal__deposit__crypto__choose {
        max-height: 150px;
        margin-bottom: 10px;
    }

    .modal__deposit__crypto__title {
        font-size: 25px;
        margin-bottom: 10px;
    }

    .center__deposit__enter {
        input {
            margin-bottom: 20px;
        }
    }

    .modal__left__logo {
        margin-bottom: 14px;
    }

    .modal__deposit__crypto__title {
        font-size: 25px;
        margin-bottom: 20px;
    }

    .modal__deposit__crypto__select__item--left {
        img {
            width: 25px;
            height: 25px;
        }
    }

    .modal__deposit__crypto__select__item {
        height: 50px;
    }

    .modal__deposit__crypto__select {
        max-height: 200px;
    }

    .center__success {
        width: calc(100% - 30px);
    }

    .center__success__stats__item--bottom {
        font-size: 15px;

        span {
            font-size: 15px;
        }
    }

    .center__success__stats {
        gap: 0;
    }
}


.center__success__buttons {
    display: flex;
    align-items: center;

    .center__success__button__inner:first-child {
        margin-right: 12px;
    }

    &.hide {
        display: none;
    }
}

@media(max-width: 400px) {
    .center__alert {
        font-size: 14px;
    }

    .center__success__buttons {
        flex-direction: column;
        gap: 12px;
    }

    .center__success__button__inner:first-child {
        margin-right: 0 !important;
    }

    .center__success.long {
        height: 297px;
    }

}